@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Muli&family=Noto+Sans+JP&family=Open+Sans&family=Quicksand&display=swap");

*{
  box-sizing: border-box;
  padding: 0;
  // margin: auto;
  font-family: "Quicksand", "Muli", "Open Sans", "Noto Sans JP", sans-serif;
}

div.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  div{
    flex: auto;
    width: 400px;
    margin: 16px;
  }

  .sns{
    display: grid;
    grid-template-areas: ". ico ." "_name _name _name";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto 1fr;
    color: #555;
    text-decoration: none;

    i{
      grid-area: ico;
      font-size: 36px;
    }

    span, span> i{
      grid-area: _name;
      font-size: 10px;
      text-align: center;
    }

    &.youtube:hover{
      color: #f00;
    }

    &.twitter:hover{
      color: #1da1f2;
    }

    &.line:hover{
      color: #00c300;
    }

    &.insta:hover{
      color: #e4405f;
    }

    &.github:hover{
      color: #181717;
    }
  }
}


a{
  color: #555;
}